<section class="d-flex align-items-center">
    <div class="container-fluid">
    <form [formGroup]='RegisterGroup' class="p-4 shadow mx-auto"(ngSubmit)="SubmitRegister()">
      <h1 class="text-center fw-bolder text-info">Sign up</h1>
        <div class="mb-3"> 
          <input formControlName='name' type="text"  class="form-control" placeholder="Enter Name...">
          @if(RegisterGroup.get('name')?.errors&&RegisterGroup.get('name')?.touched){
            @if(RegisterGroup.get('name')?.getError('required')){
              <div  class="form-text text-danger">name is required</div>
            }@if(RegisterGroup.get('name')?.getError('minlength')){
              <div  class="form-text text-danger">min length is 3 char</div>
            }@if(RegisterGroup.get('name')?.getError('maxlength')){
              <div  class="form-text text-danger">min length is 3 char</div>
            }
          }
        </div>
        <div class="mb-3"> 
            <input  formControlName='email'  type="email"class="form-control" placeholder="Enter Email...">
            @if(RegisterGroup.get('email')?.errors&&RegisterGroup.get('email')?.touched){
              @if(RegisterGroup.get('email')?.getError('required')){
                <div  class="form-text text-danger">email is required</div>
              }@if(RegisterGroup.get('email')?.getError('email')){
                <div  class="form-text text-danger">enter valid email</div>
              }
            }
          </div>
          <div class="mb-3"> 
            <input formControlName='password' type="password"  class="form-control" placeholder="Enter Password...">
            @if(RegisterGroup.get('password')?.errors&&RegisterGroup.get('password')?.touched){
              @if(RegisterGroup.get('password')?.getError('required')){
                <div  class="form-text text-danger">password is required</div>
              }@if(RegisterGroup.get('password')?.getError('pattern')){
                <div  class="form-text text-danger">Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character (e.g., #, ?, !, $, %, ^, &, , -).</div>
              }
            }
          </div>
          <div class="mb-3"> 
            <input formControlName='rePassword' type="password"  class="form-control" placeholder="Enter Repassword...">
            @if(RegisterGroup.getError('mismatch')&&RegisterGroup.get('rePassword')?.touched){
              <p class="form-text text-danger">Password confirmation is not correct</p>
            }
          </div>

          <div class="mb-3"> 
            <input formControlName='dateOfBirth' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"  placeholder="Enter Birth Date...">
          </div> 

           <div class="d-flex gap-1 my-2">
          <div class="form-check">
            <input formControlName='gender' class="form-check-input" type="radio"  value="male" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Male
            </label>
          </div>
          <div class="form-check">
            <input  formControlName='gender' class="form-check-input" type="radio" value="female" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Female
            </label>
          </div>
        </div>
        <button type="submit" [disabled]="RegisterGroup.invalid" class="btn btn-primary my-2">Submit</button>
        <p class="text-info">have an account <a routerLink="/login">login now</a></p>

      </form>
    </div>
</section>